[package]
name = "drawbridge"
version = "0.1.0"
authors = ["Profian Inc"]
edition = "2021"

[workspace]
members = [
    "crates/auth",
    "crates/byte",
    "crates/client",
    "crates/hash",
    "crates/jose",
    "crates/type",
]

[dependencies]
# Internal dependencies
drawbridge-app = { path = "./crates/app" }

# External dependencies
anyhow = { version = "1.0.57", default-features = false, features = ["std"] }
async-std = { version = "1.11.0", default-features = false, features = ["attributes"] }
clap = { version = "3.2.3", default-features = false, features = ["derive", "std"] }
env_logger = { version = "0.9.0", default-features = false, features = ["atty", "termcolor"] }
futures = { version = "0.3.21", default-features = false }
log = { version = "0.4.17", default-features = false }

[dev-dependencies]
# Internal dependencies
drawbridge-client = { path = "./crates/client" }

# External dependencies
async-h1 = { version = "2.3.3", default-features = false }
async-std = { version = "1.11.0", default-features = false, features = ["attributes", "default"] }
http-types = { version = "2.12.0", default-features = false }
openidconnect = { version = "2.3.1", default-features = false }
rustls = { version = "0.20.6", default-features = false }
rustls-pemfile = { version = "1.0.0", default-features = false }
serde_json = { version = "1.0.79", default-features = false, features = ["std"] }
tempfile = { version = "3.3.0", default-features = false }
